<?xml version="1.0"?>
<config>
    <modules>
        <PublicDesire_GiftCard>
            <version>1.0.2</version>
        </PublicDesire_GiftCard>
    </modules>
    <global>
        <blocks>
            <pd_giftcard>
                <class>PublicDesire_GiftCard_Block</class>
            </pd_giftcard>
            <aw_giftcard2>
                <rewrite>
                    <adminhtml_giftcard_edit_tab_information>PublicDesire_GiftCard_Block_Adminhtml_Giftcard_Edit_Tab_Information</adminhtml_giftcard_edit_tab_information>
                    <product_view_type_giftcard>PublicDesire_GiftCard_Block_Product_View_Type_Giftcard</product_view_type_giftcard>
                </rewrite>
            </aw_giftcard2>
        </blocks>
        <helpers>
            <pd_giftcard>
                <class>PublicDesire_GiftCard_Helper</class>
            </pd_giftcard>
            <aw_giftcard2>
                <rewrite>
                    <options>PublicDesire_GiftCard_Helper_Options</options>
                </rewrite>
            </aw_giftcard2>
        </helpers>
        <models>
            <pd_giftcard>
                <class>PublicDesire_GiftCard_Model</class>
            </pd_giftcard>
            <aw_giftcard2>
                <rewrite>
                    <giftcard>PublicDesire_GiftCard_Model_Giftcard</giftcard>
                    <product_type_giftcard>PublicDesire_GiftCard_Model_Product_Type_Giftcard</product_type_giftcard>
                    <observer_product>PublicDesire_GiftCard_Model_Observer_Product</observer_product>
                </rewrite>
            </aw_giftcard2>
        </models>
        <resources>
            <publicdesire_giftcard_update>
                <setup>
                    <module>PublicDesire_GiftCard</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </publicdesire_giftcard_update>
        </resources>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <aw_giftcard2_core_block_abstract_to_html_after>
                        <type>disabled</type>
                    </aw_giftcard2_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <giftcard_send_email>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pd_giftcard/observer::sendMail</model>
                </run>
            </giftcard_send_email>
        </jobs>
    </crontab>
</config>