<?xml version="1.0"?>
<config>
    <modules>
        <Onilab_TooltipOption>
            <version>0.0.1</version>
        </Onilab_TooltipOption>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tooltipoption>
                    <file>onilab/tooltipoption/layout.xml</file>
                </tooltipoption>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <tooltipoption>
                <class>Onilab_TooltipOption_Helper</class>
            </tooltipoption>
        </helpers>
        <models>
            <tooltipoption>
                <class>Onilab_TooltipOption_Model</class>
                <resourceModel>tooltipoption_resource</resourceModel>
            </tooltipoption>
            <tooltipoption_resource>
                <class>Onilab_TooltipOption_Model_Mysql4</class>
                <entities>
                    <tooltip>
                        <table>tooltipoption_tooltip</table>
                    </tooltip>
                </entities>
            </tooltipoption_resource>
        </models>
        <resources>
            <tooltipoption_setup>
                <setup>
                    <module>Onilab_TooltipOption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tooltipoption_setup>
            <tooltipoption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tooltipoption_read>
            <tooltipoption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tooltipoption_write>
        </resources>
        <blocks>
            <tooltipoption>
                <class>Onilab_TooltipOption_Block</class>
            </tooltipoption>
            <bundle>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_bundle_option>Onilab_TooltipOption_Block_Adminhtml_Catalog_Product_Edit_Tab_Bundle_Option</adminhtml_catalog_product_edit_tab_bundle_option>
                </rewrite>
            </bundle>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_select>Onilab_TooltipOption_Block_Catalog_Product_View_Type_Bundle_Option_Select</catalog_product_view_type_bundle_option_select>
                </rewrite>
            </bundle>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_radio>Onilab_TooltipOption_Block_Catalog_Product_View_Type_Bundle_Option_Radio</catalog_product_view_type_bundle_option_radio>
                </rewrite>
            </bundle>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_multi>Onilab_TooltipOption_Block_Catalog_Product_View_Type_Bundle_Option_Multi</catalog_product_view_type_bundle_option_multi>
                </rewrite>
            </bundle>
            <bundle>
                <rewrite>
                    <catalog_product_view_type_bundle_option_checkbox>Onilab_TooltipOption_Block_Catalog_Product_View_Type_Bundle_Option_Checkbox</catalog_product_view_type_bundle_option_checkbox>
                </rewrite>
            </bundle>
        </blocks>
    </global>
    <adminhtml>
        <events>
            <catalog_product_save_commit_after>
                <observers>
                    <onilab_tooltipoption>
                        <class>tooltipoption/observer</class>
                        <method>SaveTooltipAfterProductSave</method>
                    </onilab_tooltipoption>
                </observers>
            </catalog_product_save_commit_after>
        </events>
        <layout>
            <updates>
                <tooltipoption module="tooltipoption">
                    <file>onilab/tooltipoption/layout.xml</file>
                </tooltipoption>
            </updates>
        </layout>
    </adminhtml>
</config>